name: "Replenish Pools - Auto Triggered"

on:
  workflow_dispatch:
    inputs:
      sfp-log-level:
        description: The log level for SFP actions
        required: false
        type: choice
        default: INFO
        options:
          - TRACE
          - DEBUG
          - INFO
          - WARN
          - ERROR
          - FATAL
      sfp-version:
        description: The SFP version to use
        required: false
        type: string
        default: "39.8.0-17204768834"

  # Det er satt opp skedulering for når poolet oppdateres.
  # Det er ikke behov for å kjøre denne jobber 24/7 og det er derfor satt opp noen skeduleringer (husk at tid er UTC)
  # Det kjøres en jobb hver time 08:00-17:00 mandag til fredag, dette er fordelt på to jobber fordelt på vinter/sommertid
  # Hver natt opprettes det scratcher sånn at man ikke risikerer å være tom dagen etter. Denne kjører alle dager sånn at man ikke er tom i helger dersom noe kritisk skulle oppstå
  schedule:
    - cron: "15 06-15 * 4-10 1-5" #Sommertid:  At minute 15 past every hour from 6 through 15 on every day-of-week from Monday through Friday in every month from April through October.
    - cron: "15 07-16 * 1-3,11,12 1-5" #Vintertid: At minute 15 past every hour from 7 through 16 on every day-of-week from Monday through Friday in every month from January through March, November, and December.
    - cron: "15 2 * * *" # At 02:15.
permissions: {}
jobs:
  updatePackageDependencies:
    name: Update package dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TARGET_ORG_ALIAS: dev-hub

    steps:
      # Install SF
      - name: Install SF
        uses: navikt/sf-gha-install-sf-cli@3f1abbc990b03fb544e80169920fea2e94946d1a
      - uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: true

      - name: Authenticate Target Org
        uses: navikt/sf-gha-authenticateOrg@da2f995ee865e05111574719abfc5ba12b459f0c
        with:
          auth-url: ${{ secrets.CRM_PROD_SFDX_URL }}
          alias: ${{ env.TARGET_ORG_ALIAS }}

      - name: Update sfdx-project.json dependencies
        uses: navikt/sf-gha-update-sfdx-project-dependencies@1a644c3aeb569394ed71ddc889b1f08d4bed6117
        id: update-dependencies

        with:
          target-org: ${{ env.TARGET_ORG_ALIAS }}
          sfdx-project-path: sfdx-project.json

      - name: Commit changes
        uses: navikt/sf-gha-commit-files@216c5afbc28f2122a1385838e65bceb88af7a1c1
        if: ${{ steps.update-dependencies.outputs.updated == 'true' }}
        with:
          files: sfdx-project.json
          commitMessage: Update package versions for impacted packages
          token: ${{ secrets.GITHUB_TOKEN }}

  createPool:
    name: Create Scratch Pools
    if: ${{ always() }}
    needs: [updatePackageDependencies]
    permissions:
      contents: read
      packages: read
    secrets:
      DEV_HUB_SFDX_URL: ${{ secrets.CRM_PROD_SFDX_URL }}
      METRICS_KEY: ${{ secrets.METRICS_KEY }}
      CRM_PACKAGE_KEY: ${{ secrets.CRM_PACKAGE_KEY }}

    uses: navikt/crm-workflows-base/.github/workflows/manageScratchPool.yml@main
    with:
      pool-matrix-def-path: config/pool-matrix-def.json
      # Clear pools only when triggered by schedule (not manual trigger)
      # This ensures that we only clear unused scratches during the scheduled runs
      clear-pools: ${{ github.event.schedule == '15 2 * * *' }}
      sfp-version: ${{ github.event.inputs.sfp-version || '39.8.0-17204768834' }}
      sfp-log-level: ${{ github.event.inputs.sfp-log-level || 'INFO' }}
