name: "Validate"
on:
  workflow_call:
    inputs:
      sfp-version:
        description: The version of SFP to use
        required: false
        type: string
        default: 39.8.0-17204768834
      ref:
        description: The git ref to checkout
        required: false
        type: string
      base-ref:
        description: The base git ref to compare changes against (used for PRs)
        required: false
        type: string
    secrets:
      PACKAGE_KEY:
        required: false
      DEV_HUB_SFDX_URL:
        required: true
permissions:
  contents: read
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    container: ${{ inputs.sfp-version && format('ghcr.io/flxbl-io/sfp:{0}', inputs.sfp-version) || 'ghcr.io/flxbl-io/sfp:39.8.0-17204768834' }}
    timeout-minutes: 720 #Set to Maximum Time out
    env:
      DEV_HUB_ALIAS: devhub
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Delete unpackagable
        run: |
          rm -rf **/unpackagable
          rm -rf **/unpackagable-with-auto-deploy
          rm -rf **/scratch-org

      # Authenticate dev hub
      - name: Authenticate Dev Hub
        uses: navikt/sf-gha-authenticateOrg@60379a2f63da30da5df533b40823c8a13dad168f
        with:
          auth-url: ${{ secrets.DEV_HUB_SFDX_URL }}
          alias: ${{ env.DEV_HUB_ALIAS }}
          setDefaultUsername: true
          setDefaultDevhubUsername: true
      - name: Generate package keys
        id: generate-package-keys
        uses: navikt/sf-gha-create-package-key-pairs@46b927eab5565f2e9e0911d5867b2f7eaf31243e
        with:
          sfdx-project-path: sfdx-project.json
          package-key: ${{ secrets.PACKAGE_KEY }}

      - name: Validate metadata
        shell: bash
        run: |
          args=(sfp validate pool -pools ci -v "$DEV_HUB_ALIAS" --coveragepercent 85 --disableartifactupdate  --deletescratchorg --tag "$GITHUB_REPO")
          if [ -n "$SFP_PACKAGE_KEY_PAIRS" ]; then
            args+=(--keys "$SFP_PACKAGE_KEY_PAIRS")
          fi

          if [ -n "$REF" ]; then
            args+=(--ref "$REF")
          fi

          if [ -n "$BASE_REF" ]; then
            args+=(--baseRef "$BASE_REF")
          fi

          echo "Running: ${args[*]}"
          "${args[@]}"
        env:
          SFP_PACKAGE_KEY_PAIRS: ${{ steps.generate-package-keys.outputs.package-keys }}
          REF: ${{ inputs.ref }}
          BASE_REF: ${{ inputs.base-ref }}
          GITHUB_REPO: ${{ github.repository }}

      - name: Upload logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: |
            .sfpowerscripts/logs
            .testresults
          if-no-files-found: ignore
          retention-days: 7
